.message{
   text-align:center;

}
.image {
    margin: auto;
    /* margin-right: 50%; */
    display: block;
   
   
}


.two {
    text-align:center;
    

   }

 .menu{
    background-color:#282A35;
    height: 10%;
    border: 5px solid green;
    text-align: center;
    margin:0;
    
 }  


 /* .menuList{
 margin:auto;
 padding: 1.5%;

 

} */


 ul.myList{
  
    list-style-type: none;
    
    display: inline-block;
   
    /* margin:auto;
    display: inline-block; */
  }


 li{
    float: left;
    padding:0 12px;
    font-size: 12px;
    color: azure;
    
    }



body{
    background-color: powderblue;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 footer{

    background-color:#282A35;
    height: 5%;
    border: 5px solid green;
    bottom: 0;
    text-align: center;
    font-size: 12px;
   
}   


a:link {

    color:white;
    text-decoration: none;
}

a:hover{

    background-color:green;
    font-size: 16px;
}


a:visited{

color: white;

}
.last{
 
 


}



